[Unit]
Description=SBR Host Monitor

[Service]
ExecStart=/home/sbrnx/SBR/actions-runner/_work/sbr/sbr/SBR_SERV/host_connector/scripts/sbr_host_monitor.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target